* text=auto eol=lf

/.editorconfig          export-ignore
/.gitattributes         export-ignore
/.github                export-ignore
/.gitignore             export-ignore
/.php-cs-fixer.dist.php export-ignore
/AGENTS.md              export-ignore
/phpstan.neon.dist      export-ignore
/phpstan-php74.neon.dist export-ignore
/phpunit.xml.dist       export-ignore
/phpunit9.xml.dist      export-ignore
/tests                  export-ignore
/scripts                export-ignore
